{% extends "login_layout.html" %}

{% block title %}
    Delete account
{% endblock %}

{% block main %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
          <div class="container">
              <div class="card login-card">
                  <div class="row no-gutters">

                      <div class="col">
                          <div class="card-body">
                              <div class="brand-wrapper">
                                  <img src="/static/images/logo.svg" alt="logo" class="logo">
                              </div>

                              <p class="login-card-description">Delete your account</p>

                              <form action="/delete" method="post">
                                  <div class="form-group">
                                    <label for="password" class="sr-only">Enter your password to delete your account</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Your password" autocomplete="off" minlength="8" required>
                                  </div>
                                  <div class="form-group mb-4">
                                      {% if error %}
                                        <p class="error">{{ error }}</p>
                                      {% endif %}
                                      {% if success %}
                                          <p class="success">{{ success }}</p>
                                      {% endif %}
                                  </div>

                                  <button name="submit" id="login" class="btn btn-block btn-danger delete-acc-btn mb-4" type="submit">Delete account</button>
                              </form>

                              <p class="login-card-footer-text">Changed your mind? <a href="/" class="text-reset">Click here</a></p>

                              <nav class="login-card-footer-nav">
                                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Terms & Conditions</a>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
{% endblock %}