{% extends "layout.html" %}

{% block title %}
    View Statistics
{% endblock %}

{%block head%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawBasic);

      if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
          var box_left = 20;
          var box_top = 40;
        }else{
          var box_left = 75;
          var box_top = 60;
          var box_right = 50;
        }

      function drawChart() {

        var pie_data = google.visualization.arrayToDataTable([
          ['Category', 'Times'],
          {% for dict in rows[0] %}
              {% for dict_item in dict %}
                  ['{{dict_item.Type}}', {{dict_item.Price}}],
              {% endfor %}
          {% endfor %}
        ]);

        var pie_options = {
          title: 'Spendings: Per category ({{ currency }})',
          pieSliceText: 'label',
          {% if rows[0]|length > 0%}
            slices: {0: {color: '{{ rows[0][0][0].color}}'}, 1:{color: '{{ rows[0][1][0].color}}'}, 2:{color: '{{ rows[0][2][0].color}}'}, 3: {color: '{{ rows[0][3][0].color}}'}, 4:{color: '{{ rows[0][4][0].color}}'}, 5:{color: '{{ rows[0][5][0].color}}'}, 6:{color: '{{ rows[0][6][0].color}}'}, 7:{color: '{{ rows[0][7][0].color}}'}, 8:{color: '{{ rows[0][8][0].color}}'}},
          {% endif %}
          chartArea:{left:box_left,top:box_top,bottom:30,width:"100%",height:"100%"}
        };

        var pie_chart = new google.visualization.PieChart(document.getElementById('piechart'));

        var formatter = new google.visualization.NumberFormat(
            {prefix: '{{currency}}', negativeColor: 'red', negativeParens: true});
        formatter.format(pie_data, 1);

        {% if rows[0]|length > 0 %}
          pie_chart.draw(pie_data, pie_options);
        {% endif %}
      }

      function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['Name', 'Price', { role: 'style' }],
        {% for dict_item in rows[1] %}
            ['{{dict_item.Name}}', {{dict_item.Price}}, '{{dict_item.color}}'],
        {% endfor %}
      ]);

      var options2 = {
        title: 'Spendings: Most spent on ({{ currency }})',
        hAxis: {
          title: 'Name of the purchase',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: 'Price ({{ currency }})'
        },
        chartArea:{left:box_left,top:box_top,bottom:50,right:box_right,width:"100%",height:"100%"},
        legend: 'none'
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      var formatter = new google.visualization.NumberFormat(
            {prefix: '{{currency}}', negativeColor: 'red', negativeParens: true});
      formatter.format(data, 1);

      {% if rows[1]|length > 0 %}
        chart.draw(data, options2);
      {% endif %}
    }
    </script>
{% endblock %}

{% block main %}
<div class="container-fluid big-statistics-container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-xl-9 mx-auto statistics-container">
            <h1 class="mb-4 page-title">Statistics</h1>
            <hr class="my-4" />

            <div class="row chart-row">
              <div id="piechart" class="col-11 col-lg-5 col-xl-5 container-fluid statistics-box pie-chart"></div>
              <div id="chart_div" class="col-11 col-lg-5 col-xl-5 container-fluid statistics-box collumn-chart"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}